body {
  background-color: beige;
}
.container {
  display: left;
  justify-content: center;
  font-size: small;
  font-family: "Lucida Console", "Courier New", monospace;
}

.title {
  font-size: large;
}

.second-title {
  font-size: medium;
}
